<mat-grid-list cols="5" rowHeight="50px">
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <input #fieldname matInput [formControl]="fieldNameControl" (keyup)="updateName(fieldname.value)" [(value)]="editedName">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field floatPlaceholder="never">
      <mat-select placeholder="Select data type" [(ngModel)]="editedType">
        <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.key">
          {{ fieldType.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-icon class="save-field" (click)="saveField()">save</mat-icon>
  </mat-grid-tile>
</mat-grid-list>