<div class="definitions-list">
  <!-- Entity definitions -->
  <mat-list>
    <mat-list-item *ngFor="let entityDef of definitions" [class.rd-btn]="true" [class.selected-entity]="selectedDefinition && (entityDef.name === selectedDefinition.name)" (click)="selectEntityDefinition(entityDef)">
      <span>
        {{entityDef.name}}
      </span>
    </mat-list-item>
  </mat-list>
</div>
<div class="entities-list">
  <mat-list>
    <mat-list-item *ngFor="let entity of entities" [class.rd-btn]="true" [class.selected-entity]="selectedEntity && (entity.id === selectedEntity.id)" (click)="selectEntity(entity)">
      <span>
        {{entity.id}}
      </span>
    </mat-list-item>
  </mat-list>
</div>
<div class="entity-editor">
  <app-entity-editor *ngIf="selectedEntity" [entity]="selectedEntity"></app-entity-editor>
</div>