<div>
  <div class="entity-definitions">
    <!-- Entity definitions -->
    <mat-list>
      <mat-list-item *ngFor="let entityDef of definitions" (click)="selectEntityDefinition(entityDef)" [class.entity-definition]="true"
        [class.selected-entity]="selectedDefinition && (entityDef.name === selectedDefinition.name)">
        {{entityDef.name}}</mat-list-item>
    </mat-list>
  </div>

  <div class="fields-definitions" *ngIf="selectedDefinition">
    <!-- Entity definition editor -->
    <field-definition-editor 
    *ngFor="let field of selectedDefinition.fields" 
    [entity]="selectedDefinition.name"
    [field]="field"></field-definition-editor>
  </div>
</div>