.field-creation {
    cursor: pointer;
}
.field-creation:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #999999;
}
.entity-deletion {
    cursor: pointer;
}
.entity-creation {
    cursor: pointer;
}
.entity-creation:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #999999;
}
.entity-definition {
    cursor: pointer;
}
.entity-definitions {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 33%;
}
.selected-entity {
    background-color: #EEEEEE;
}

.fields-definitions {
    display: inline-block;
    height: 100%;
    width: 66%;
    background-color: #EEEEEE;
}
.eighty-pc {
    height: 100%;
    width: 78%;
    display: inline-block;
}
.twenty-pc {
    height: 100%;
    width: 18%;
    display: inline-block;
}