<mat-tab-group>
    <mat-tab label="Data Model">
        <app-definitions></app-definitions>
    </mat-tab>
    <mat-tab label="Entities">
        <app-entities></app-entities>
    </mat-tab>
</mat-tab-group>

<br/>
<br/>
<br/>
<button mat-raised-button (click)="logout()">Logout</button>

<br/>
<button mat-raised-button (click)="getApi()">API CALL</button>
<button mat-raised-button (click)="getAdminApi()">ADMIN API CALL</button>

<br/>
<button mat-raised-button (click)="principal()">principal</button>